:root {
    --header: #33523e;
    --content: #f6f6e8;
    --tabBar: rgb(200, 40, 40);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--content);
}

a {
    text-decoration: none;
    color: var(--content);
}

/* Make each section max-width: 100%*/
#mainContainer > div {
    max-width: 100%;
}

/* Main container div */
#mainContainer {
    height: 100%;
    background-color: var(--content);

    display: grid;
}

.home {
    grid-template-rows: 150px 700px 0.5fr repeat(14, auto);
    grid-template-areas: 
        "header"
        "slider1"
        "oldMan"
        "history1"
        "image1"
        "div1"
        "div2"
        "div3"
        "video"
        "history2"
        "image2"
        "history3"
        "image3"
        "history4"
        "slider2"
        "outlet"
        "footer"
    ;
}

.menu, .products, .outlets {
    grid-template-columns: 1fr;
    grid-template-rows: 150px repeat(3, auto);
    grid-template-areas: 
        "header"
        "slider1"
        "signatureMenu"
        "footer"
    ;
}

.products {
    grid-template-areas:
        "header"
        "slider1"
        "productSection"
        "footer"
    ;
}

.outlets {
    grid-template-areas: 
        "header"
        "slider1"
        "outletSection"
        "footer"
    ;
}

#signatureMenu {
    grid-area: signatureMenu;
}

#productSection {
    grid-area: productSection;
}

#signatureMenu, #productSection, #outletSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

#outletSection > .signatureHeader > h1,
#productSection > .signatureHeader > h1,
#signatureMenu > .signatureHeader > h1 {
    border-bottom: 0.1em solid var(--header);
}

#foodContainer, #productContainer {
    display: grid;
    padding: 0 100px;
    margin-bottom: 100px;
    width: 100%;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "nasiL rendangChicken meeSiam horFun"
        "kueyTeow laksaMee nanyang chickenRice"
        "malayFriedRice prawnFriedRice eggTart poloBun"
        "toast rojak kopi cendol"
    ;
    column-gap: 20px;
    row-gap: 40px;
}

#productContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "CWC RWC NSAWC Mocha"
        "TehTarik DripCoffee Kaya PandanKaya"
        "CrunchyPB CreamyPB PanMee SpicyPanMee"
        "MalaPanMee SoupPanMee ClassicPT CheesePT"
        "SambalRojak . . . "
    ;
}

#outletContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "KLSelangor"
        "Johor"
    ;
    justify-items: center;
    align-items: center;
    margin-bottom: 10%;
}

#KLSelangorArea, #johorSect {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.8rem;
    row-gap: 0.8rem;

    margin-left: 10%;
    margin-right: 10%;
}

#KLSelangorArea {
    grid-template-areas: 
        "title title title"
        "midValley pavillionKL TRX"
        "klcc sunwayPyramid pavillionBJ"
        "klia2Arrival klia2Departure Puchong"
    ;
}

#KLSelangorTitle {
    grid-area: title;
}

#johorSect {
    grid-template-areas: 
        "titleJB titleJB titleJB"
        "midvalleyJB jbcitysquare aeonTebrau"
        ". johorJaya ."
    ;
}

#johorTitle {
    grid-area: titleJB;
    margin-top: 5%;
}

#KLSelangorTitle, #johorTitle {
    color: var(--header);
    font-size: 0.8em;
    justify-self: center;
    /* border-bottom: 2px solid var(--header); */
}

#KLSelangorTitle > .signatureHeader,
#johorTitle > .signatureHeader {
    margin: 0;
}

#Johor-Outlet4 {
    grid-area: johorJaya;
}

.foodItems, .productItems, .outletClass {
    width: fit-content;
    border-radius: 10px;
    position: relative;
}

.foodItems > img,
.productItems > img,
.outletClass > img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

.outletClass > img {
    min-height: 100%;
}

.foodName, .productName, .outletName {
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.2em;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    opacity: 0;
    transition: 0.3s;
    text-align: center;
}

.fade-in {
    transition: 0.3s;
}

.fade-in:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

/* Header div */
#header {
    background-color: var(--header);
    position: sticky;
    top: 0;
    z-index: 1;
    grid-area: header;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.7fr 0.3fr;
    grid-template-areas: 
        "logo"
        "navBar"
    ;
}

/* Logo div */
#logoDiv {
    width: inherit;
    background-color: var(--header);
    grid-area: logo;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    letter-spacing: 0.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#companyName > a {
    cursor: pointer;
}

/* Tab bar div */
#tabDiv {
    width: inherit;
    background-color: var(--tabBar);
    grid-area: navBar;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-item {
    color: white;
}

.menu-item > a {
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1.3rem;
}

.menu-item > a:hover {
    color: var(--header);
    font-size: 1.5rem;
}

/* Main content div */

/* Image sliders */
#sliderOne {
    height: 100%;
    overflow: hidden;
    grid-area: slider1;
}

#sliderOne > .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

#sliderOne > .wrapper {
    animation: sliderOne 16s infinite;
}

#sliderOne > .wrapper > img {
    width: 100%;
    height: auto;
}

@keyframes sliderOne {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    35% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    85% {
        transform: translateX(-300%);
    }

    90% {
        transform: translateX(-300%);
    }

    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}

#sliderTwo {
    grid-area: slider2;
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
}

#sliderTwo div img {
    width: 500px;
    display: inline-flex;
    margin: 10px;
    opacity: 0.85;
    transition: 0.5s;
    border-radius: 10px;
}

#sliderTwo div img:hover {
    opacity: 1;
    cursor: pointer;
}

#sliderTwo div {
    white-space: nowrap;
    animation: carouselOne 20s linear infinite;
    animation-delay: -10s;
}

#sliderTwo div:nth-child(2) {
    animation: carouselTwo 20s linear infinite;
    animation-delay: -20s;
}

@keyframes carouselOne {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes carouselTwo {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

/* Old image div */
#oldImg {
    grid-area: oldMan;
    margin-top: 5px;
}

#oldImgWrapper {
    display: flex;
    gap: 5px;
    width: 100%;
    height: 100%;
}

#wrapperOne, #wrapperTwo {
    width: 100%;
    height: auto;
    flex: 1;
}

#wrapperOne > img,
#wrapperTwo > img {
    width: 100%;
    height: auto;
}

/* History section */
.historySection {
    height: 100%;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

#huayangClassic {
    grid-area: history2;
}

#historySection {
    grid-area: history1;
}

.historySectionTitle {
    margin-top: 30px;
}

.historySectionTitle > img {
    width: 100%;
    height: auto;
}

.historySectionWords {
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    text-align: center;
    align-items: center;

    font-size: 20px;
    color: var(--header);
    width: 60%;
}

#handmadeBreadDiv {
    grid-area: history3;
}

.non-img > div:first-child {
    width: 100%;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#signatureSect {
    grid-area: history4;
}

.headerTitle {
    color: var(--header);
    font-size: 4em;
}

.headerDivs > img {
    max-width: 100%;
    display: block;
    height: 100%;
}

#outletDiv {
    grid-area: outlet;
}


/* Random header div */
.headerImg {
    width: 100%;
    height: 100%;
}

#firstHeader {
    grid-area: image1;
}

#secondHeader {
    grid-area: image2;
}

#thirdHeader {
    grid-area: image3;
}

.headerImg > img {
    max-width: 100%;
    display: block;
    height: 100%;
}

/* Repetitive divs */
#imgDiv1 > img,
#imgDiv2 > img,
#imgDiv3 > img {
    width: 100%;
    height: 100%;
}

#repeatDiv1 {
    grid-area: div1;
}

#repeatDiv2 {
    grid-area: div2;
}

#imgDiv2 {
    grid-area: left;
}

#repeatDiv3 {
    grid-area: div3;
}

.repeatDivs {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}

.wordDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.repeatDivs > div > div {
    width: 350px;
}

.repeatDivs > div > div > img {
    width: 100%;
    height: auto;
}

.wordDiv > div:last-child {
    margin-top: 10px;
    text-align: center;
    width: 80%;
    line-height: 2;
    color: var(--header);
}

@media only screen and (max-width: 1000px) {

    .home {
        grid-template-columns: 100%;
        grid-template-rows: 200px repeat(16, auto);
        grid-template-areas: 
            "header"
            "slider1"
            "oldMan"
            "history1"
            "image1"
            "div1"
            "div2"
            "div3"
            "video"
            "history2"
            "image2"
            "history3"
            "image3"
            "history4"
            "slider2"
            "outlet"
            "footer"
        ;
    }

    .menu-item > a {
        font-size: 1.2rem;
    }

    .repeatDivs {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "left"
            "right"
        ;
    }

    #imgDiv2 {
        grid-area: right;
    }

    #videoSection {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem !important;
    }

    #footerDiv1, #footerDiv2 {
        gap: 1rem !important;
    }

    #footerDiv1, #footerDiv2 {
        margin-left: 0 !important;
    }

    #footerDivOneChildTwo {
        gap: 0.5rem !important;
        flex-direction: column;
    }

    .foodName, .productName, .outletName {
        font-size: 1rem;
    }

    #KLSelangorTitle, #johorTitle {
        font-size: 0.5em;
    }

}

/* Video section */
#videoSection {
    height: 100%;
    grid-area: video;
    margin-top: 5px;
    
    display: flex;
    gap: 5px;
}

#videoSection > div {
    width: 100%;
    height: 600px;
}

#videoSection > div > iframe {
    width: 100%;
    height: 100%;
}

/* Titled Sections */
#titleMainDiv1 {
    grid-area: title1;
}

#titleMainDiv2 {
    grid-area: title2;
}

#titleMainDiv3 {
    grid-area: title3;
}

.titleMainDiv > div > img {
    width: 100%;
    height: auto;
}

/* Footer section */
footer {
    grid-area: footer;
    height: 20vh;
    background-color: var(--header);

    display: flex;
    justify-content: center;
    gap: 3rem;
}

#footerDiv1 {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 2rem;
}

#footerLogoDiv > img {
    width: 100%;
    height: auto;
}

#footerDivOneChildOne {
    width: 10rem;
    flex-wrap: wrap;
}

#footerDivOneChildTwo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

#footerDivOneChildTwo > a {
    font-weight: bold;
    font-size: 1.5rem;
    flex: 0;

    transition: transform 0.3s;
}

#footerDivOneChildTwo > a:hover {
    transform: scale(1.1);
}

#footerDiv2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
}

#footerDivTwoChildOne {
    color: var(--content);
    font-weight: bold;
    font-size: 1.5rem;
    flex: 0;
    white-space: nowrap;
}

#footerDivTwoChildTwo > a > img {
    width: 2rem;
    transition: all 0.3s;
}

#footerDivTwoChildTwo > a > img:hover {
    transform: rotate(360deg) scale(1.2);
}
