* {
    margin: 0;
    padding: 0;
}

/* Declare CSS variables */
:root {
    --header: #47814e;
    --content: #c9ffe2;
    --tabBar: rgb(187, 37, 37);
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--content);
}

/* Main container div */
#mainContainer {
    width: 100vw;
    height: 100vh;
    background-color: var(--content);

    display: grid;
    grid-template-rows: 150px 1fr;
}

/* Header div */
#header {
    width: 100vw;
    height: 150px;
    border: 1px solid black;
    background-color: var(--header);
    position: fixed;
    grid-row: 1 / 2;

    display: grid;
    grid-template-rows: 0.7fr 0.3fr;
}

/* Logo div */
#logoDiv {
    width: inherit;
    background-color: var(--header);
    grid-row: 1 / 2;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Company name */
#companyName {
    /* border: 1px solid black; */
}

/* Tab bar div */
#tabDiv {
    width: inherit;
    background-color: var(--tabBar);
    grid-row: 2 / 3;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-item {
    /* border: 1px solid black; */
    color: white;
}

a {
    cursor: pointer;
    transition: 0.2s;
}

a:hover {
    color: var(--header);
}

/* Main content div */
#content {
    width: inherit;
    height: 100%;
    grid-row: 2 / 3;
}