* {
    margin: 0;
    padding: 0;
}

/* Declare CSS variables */
:root {
    --header: #3a5940;
    --content: #f6f6e8;
    --tabBar: rgb(187, 37, 37);
}

body {
    box-sizing: border-box;
    height: 100%;
    background-color: var(--content);
}

/* Main container div */
#mainContainer {
    width: 100vw;
    height: 100%;
    background-color: var(--content);

    display: grid;
    grid-template-rows: 150px 0.5fr 1fr 500px 0.5fr;
}

/* Header div */
#header {
    width: 100vw;
    height: 150px;
    background-color: var(--header);
    position: sticky;
    top: 0;
    z-index: 1;
    grid-row: 1 / 2;
    font-size: 20px;

    display: grid;
    grid-template-rows: 0.7fr 0.3fr;
}

/* Logo div */
#logoDiv {
    width: inherit;
    background-color: var(--header);
    grid-row: 1 / 2;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#companyName > a {
    cursor: pointer
}

/* Tab bar div */
#tabDiv {
    width: inherit;
    background-color: var(--tabBar);
    grid-row: 2 / 3;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-item {
    color: white;
}

.menu-item > a {
    cursor: pointer;
    transition: 0.2s;
}

.menu-item > a:hover {
    color: var(--header);
}

/* Main content div */

/* Image slider */
#sliderWrapper {
    width: 100vw;
    min-height: 700px;
    grid-row: 2 / 3;
    overflow: hidden;
}

#wrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    animation: slide 16s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    35% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    85% {
        transform: translateX(-300%);
    }

    90% {
        transform: translateX(-300%);
    }

    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}

#wrapper > img {
    min-width: 100%;
    height: auto;
    flex: 0;
}

/* Old image div */
#oldImg {
    grid-row: 3 / 4;
    margin-top: 5px;
    overflow: hidden;
    width: 100vw;
}

#oldImgWrapper {
    display: flex;
    gap: 5px;
    flex: 0;
    width: 100vw;
}

#oldImgWrapper > img {
    width: 100%;
    height: auto;
}

/* Word section */
#wordSection {
    width: 100vw;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    grid-row: 4 / 5;
}

#wordSectionTitle {
    margin-top: 40px;
}

#wordSectionWords {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0 350px 0 350px;

    font-size: 20px;
    color: var(--header);
}

/* Random header div */
#randomHeaderImg {
    grid-row: 5 / 6;
    min-width: 100%;
    height: 100%;
}

#randomHeaderImg > img {
    width: 100%;
    height: 100%;
}

